<!-- this container overflows when small size, also you want to make text 
all the way to mid-point -->
<div class="container">
    <div class="intro-content">
        <h1>Lorem ipsum dolor sit.</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt amet qui, eum voluptas vel, minima sapiente nostrum aliquid voluptates accusantium expedita laborum perspiciatis cum repudiandae dolore dignissimos soluta corrupti quibusdam animi. Quis ab exercitationem voluptas labore, quas veniam rem consectetur laudantium, alias deleniti temporibus vitae doloribus dolor quia cupiditate maxime et omnis illum maiores neque reiciendis tempora fuga sed ad. Fuga, at numquam ut quae debitis temporibus beatae optio amet est totam. Voluptatum ad saepe quo itaque, dicta impedit quis repellendus architecto dolorum. Omnis, quia id? Voluptatum laboriosam eligendi veritatis sed magnam perspiciatis odit quidem repellat maiores? Illum, maxime culpa!Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem aspernatur distinctio laudantium
            dolores. Nulla quibusdam reprehenderit eum sit minus aliquid!</p>
    </div>
</div>