<div class="container container-intro-background">
    <div class="contnet-intro">
        <div class="container__text">
            <h1>Responsive layouts don't have to be a struggle</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus quam ducimus nihil sapiente,
                voluptatum
                quaerat, sequi quos adipisci, architecto nulla tempora vero enim iure itaque odit autem alias placeat
                eaque
                aspernatur laudantium. Id, facere aliquam non quas, ad quidem provident impedit, ea obcaecati esse
                minima
                quisquam at eligendi. Fugiat, quam.</p>

            <a href="#" class="button">I WANT TO LEARN</a>
        </div>
    </div>
</div>
<section class="three-col">
<div class="container content-intro-background row header-intro">
    <!-- <div class="row header-intro"> -->
        <div class="col">
            <h2>Cheap</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis doloribus, eum numquam dolor modi aliquam amet fuga nemo sequi corrupti autem illum a eaque adipisci facilis impedit rerum, repudiandae quam?</p>
        </div>
        <div class="col">
            <h2>Quick</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis doloribus, eum numquam dolor modi aliquam amet fuga nemo sequi corrupti autem illum a eaque adipisci facilis impedit rerum, repudiandae quam?</p>
        </div>
        <div class="col">
            <h2>Affordable</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis doloribus, eum numquam dolor modi aliquam amet fuga nemo sequi corrupti autem illum a eaque adipisci facilis impedit rerum, repudiandae quam?</p>
        </div>
    <!-- </div> -->
</div>
</section>

<section class="two-col container">
<div class=" content-third-background row header-third">
    <!-- <div class="row header-third"> -->
        <div class="col">
            <h2>Quick</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis doloribus, eum numquam dolor modi
                aliquam amet fuga nemo sequi corrupti autem illum a eaque adipisci facilis impedit rerum, repudiandae
                quam?</p>
        </div>
        <div class="col">
            <h2>Affordable</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis doloribus, eum numquam dolor modi
                aliquam amet fuga nemo sequi corrupti autem illum a eaque adipisci facilis impedit rerum, repudiandae
                quam?</p>
        </div>
    <!-- </div> -->
</div>
</section>
<section class="container row">
    <div class="col">
        <label>Add Todo</label>
        <input type="text" id="txtTodo">
        <div><button id="btnTodo" (click)="onTodoClick();">Add</button></div>
    </div>
    <div class="col">
        <label>Todo List</label>
        <div id="todoList"></div>
    </div>
</section>