<div class="container container-background">
    <div class="container-intro">
        <h1>Responsive layouts don't have to be a struggle</h1>
        <div class="content-intro container-intro-color">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, amet sit distinctio vel est illo nostrum. Illo optio aperiam temporibus quam cumque dolorum laborum natus, dolore obcaecati, blanditiis reiciendis ipsa. Ipsum placeat veritatis cumque, ipsam iste commodi officiis enim optio voluptatem aliquam possimus doloremque voluptas odit, beatae nobis suscipit architecto! Ab totam doloribus autem quisquam ipsa rerum consequatur similique esse corrupti distinctio, error labore, accusamus, natus exercitationem. Ex asperiores cumque aspernatur velit praesentium tempora, molestias aperiam nisi laudantium vel recusandae sit qui repudiandae unde nam dolorum animi rerum iure vitae obcaecati similique pariatur error id aliquid. Ut repudiandae quaerat nemo.</p>
        </div>
        <div class="button button-font">
            <a href="#">I WANT TO LEARN</a>
        </div>
       
    </div>
</div>
<div class="container container-intro-background container-intro-padding">
    another div
</div>

