<!-- class="col" treats it like a column if parent is of class row -->

<header>
    <div class="container row" >
        <a href="#" class="logo">
            <img src="assets/icons/logo.svg" alt="Conquering Responsive Layouts"/>
        </a>
        <nav class="nav">
            <ul class="nav__list nav__list--primary">
                <li class="nav__item">
                    <a class="nav__link" href="#">Home</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#">About</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="#">Contact</a>
                </li>
                <!-- using margin-left: auto, which pushed to the right -->
                <!-- <li class="nav__item nav__item--push-right">
                    <a class="nav__link " href="#">Sign In</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link nav__link--button" href="#">Sign Up</a>
                </li> -->
            </ul>
            <ul class="nav__list nav__list--secondary">
                <li class="nav__item">
                    <a class="nav__link " href="#">Sign In</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link nav__link--button" href="#">Sign Up</a>
                </li>

            </ul>
        </nav>
    </div>
</header>

<div class="hero">
    <div class="container row">
        <div class="hero__text  ">
            <h1>Responsive layouts don't have to be a struggle</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus quam ducimus nihil sapiente,
                voluptatum
                quaerat, sequi quos adipisci, architecto nulla tempora vero enim iure itaque odit autem alias placeat
                eaque
                aspernatur laudantium. Id, facere aliquam non quas, ad quidem provident impedit, ea obcaecati esse
                minima
                quisquam at eligendi. Fugiat, quam.</p>

            <a href="#" class="btn">I WANT TO LEARN</a>
        </div>
        <!-- this takes 40% of parent's width container -->
       
            <img class="hero__img" src="assets/icons/pic1.jpeg" alt="respinsive" />
        


    </div>
</div>
<div class="hero content-background">
    <div class="container row">
        <div class="content__text col" style="border: 2px solid red;">
            <h1>Quality designs made custom, on demand, just for you</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore
                magna
                aliqua. Ut enim ad minim veniam. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore
                magna
                aliqua. Ut enim ad minim veniam. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
            </p>
        </div>
        <div class="content__rightpane col" style="border: 2px solid yellow;">
            <h2>Cheap</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore
                magna
                aliqua. Ut enim ad minim veniam.
            </p>

            <h2>Quick</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore
                magna
                aliqua. Ut enim ad minim veniam.
            </p>

            <h2>Quality</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore
                magna
                aliqua. Ut enim ad minim veniam.
            </p>
        </div>
    </div>
</div>

<div class="p-grid ui-fluid">
    <div class="p-col-6">
      <label>videos list</label>
    </div> 
      
    <div class="p-col-6">
      <video controlsList="nodownload" controls style="width:100%">
        <source src="assets/videos/0_0.mp4" type="video/mp4">
      </video>
  
      
    </div>
  
  </div>