<section class="intro row">
    <div class="container centered" >
        <p class="intro__text-tiny">Lorem ipsum sit</p>
        <h2 class="intro__text-title intro__text-header-size">Responsive Layouts don't have to be a struggle</h2>
    </div>
</section>

<section class="section-two">
    <div class="container">
        <h2 class="centered section__two-title">Quality Designs</h2>
        <div class="row ">
            <p class="col">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab molestias repellendus dolore blanditiis
                accusamus, earum voluptatum similique doloremque eos vero asperiores saepe tempore provident ullam
                incidunt
                accusantium laboriosam ex delectus officiis? Sapiente, quam enim debitis placeat vel ex repellat qui.
            </p>
            <p class="col">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab molestias repellendus dolore blanditiis
                accusamus, earum voluptatum similique doloremque eos vero asperiores saepe tempore provident ullam
                incidunt
                accusantium laboriosam ex delectus officiis? Sapiente, quam enim debitis placeat vel ex repellat qui.
            </p>
        </div>


    </div>
</section>

<section class="section-three">
    <div class="container row">
        <div class="col section-three__text">
            <h2>Made custome for you</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, ullam. Quo, nobis quam! Nisi voluptates
                aperiam consectetur accusamus illo ipsum labore quod quam velit itaque sapiente eveniet magnam
            </p>
        </div>
        <img class="col" src="assets/icons/image-01.jpg" alt="Landscape over mountains with sunset">
    </div>
</section>

<section class="section-four">
    <div class="container row">
        <img class="col" src="assets/icons/image-02.jpg" alt="Landscape over mountains with sunset">
        <div class="col">
            <h2>Created with care</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, ullam. Quo, nobis quam! Nisi voluptates
                aperiam consectetur accusamus illo ipsum labore quod quam velit itaque sapiente eveniet magnam
                perferendis, quis cum soluta! Dolores odio aliquam dicta, sunt voluptatum unde voluptatem? Quos maxime
                mollitia necessitatibus qui!</p>
        </div>
    </div>
</section>