
<header> 
    <div class="container row ">
        <button class="nav-toggle" (click)="toggleNav();" aria-label="open navigation">
            <span class="hamburger"></span>
        </button>
        <a class="logo"  href="#">
            <img src="assets/img/logo.svg" alt="conquering responsive layouts">
        </a>
        <nav class="nav">
            <ul class="nav__list nav__list--primary">
                <li class="nav__item"><a href="#" class="nav__link">Home</a></li>
                <li class="nav__item"><a href="#" class="nav__link">About</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Contact</a></li>
            </ul>
            <ul class="nav__list nav__list--secondary">
                <li class="nav__item"><a href="#" class="nav__link">Sign In</a></li>
                <li class="nav__item"><a href="#" class="nav__link nav__link--button">Sign up</a></li>
            </ul>
        </nav>
    </div>
</header>

<section class="hero">
    <div class="container row">
        <div class="hero__text">
            <h1>Responsive layouts don’t have to be a struggle</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            <a href="#" class="btn">I want to learn</a>
        </div>
        <img src="assets/img/hero-img.jpg" alt="UX design sketches" class="hero__img">
    </div>
</section> 

<main class="main container row">
        <section class="primary-content">
            <h2 class="section-title">Quality designs made custom, on demand, just for you</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </section>
        <aside class="sidebar">
            <h2 class="sidebar-title">Cheap</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>

            <h2 class="sidebar-title">Quick</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>

            <h2 class="sidebar-title">Quality</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </aside>
</main>

<div style="background: transparent;" class="sticky">
    <img src="assets/img/hero-img.jpg" alt="UX design sketches" class="hero__img">
</div>
<div class="stickyContainer">
<h4 class="col">Scroll to see the sticky element <em>sticking</em></h4>
<div class="extra col">extra</div>

<div id="wrapper" class="col">
  <div id="sticky">
    sticky
  </div>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error impedit est nulla quod ipsa quam quaerat aspernatur accusamus. Laboriosam, a hic aperiam veniam expedita deleniti distinctio voluptatum perspiciatis ab, cumque eum voluptates suscipit dolores quaerat repudiandae, fugit fuga. Porro eaque, dignissimos maxime commodi dolores rerum modi soluta nesciunt dolor aspernatur dicta sunt pariatur voluptas praesentium quibusdam animi accusamus laboriosam, corporis nulla. Repudiandae, autem tempore eius repellendus vel libero dolor rerum magni reiciendis quos quaerat atque quod eligendi! Labore maiores at soluta optio, incidunt ex non ipsum, repudiandae blanditiis necessitatibus corrupti neque adipisci quod nulla! Quia cum beatae harum facilis doloribus?
</div>

<div class="extra col">extra</div>
</div>
